---
import Section from "@/components/organisms/Section.astro";
import Layout from "@/layout/Layout.astro";
---

<Layout description="Modelo de clustering de archivos HAR">
  <Section>
    <h1>Modelo</h1>
  </Section>
</Layout>
