---
import Section from "@/components/organisms/Section.astro";
import Layout from "@/layout/Layout.astro";
import marked from "@/lib/marked";
import { generateSlug } from "@/lib/slug";
import { notebookMarkdownTokens } from "@/notebook-content";
import { Code } from "astro-expressive-code/components";

// Data
const contents = notebookMarkdownTokens.map((token) => {
  if (token.type === "code") return token;

  const content = marked.parser([token]);

  if (token.type !== "heading") return content;

  const id = generateSlug(token.text);

  return content.replace(
    /<h(\d+)(.*?)>(.*?)<\/h\d+>/,
    `<h$1$2 id="${id}">$3</h$1>`,
  );
});
---

<Layout
  title="Notebook"
  description="Notebook del modelo clustering de archivos HAR"
>
  <Section class="prose prose-invert prose-img:mx-auto py-8">
    {
      contents.map((content) =>
        typeof content === "string" ? (
          <Fragment set:html={content} />
        ) : (
          <Code class="my-2" code={content.text} lang={content.lang} />
        ),
      )
    }
  </Section>
</Layout>

<style is:inline>
  div:has(table.dataframe) {
    overflow-x: auto;
  }
</style>
