---
import Section from "@/components/organisms/Section.astro";
import { apiUrl } from "@/config";
import Layout from "@/layout/Layout.astro";
import { Code } from "astro-expressive-code/components";
import { marked } from "marked";

// Data
const response = await fetch(`${apiUrl}/api/notebook/har_clustering.md`);

const markdown = await response.text();
const tokens = marked.lexer(markdown);
const contents = tokens.map((token) =>
  token.type === "code" ? token : marked.parser([token]),
);
---

<Layout
  title="Notebook"
  description="Notebook del modelo clustering de archivos HAR"
>
  <Section class="prose prose-invert py-8">
    {
      contents.map((content) =>
        typeof content === "string" ? (
          <Fragment set:html={content} />
        ) : (
          <Code class="font-mono" code={content.text} lang={content.lang} />
        ),
      )
    }
  </Section>
</Layout>
