---
import Section from "@/components/organisms/Section.astro";
import { apiUrl } from "@/config";
import Layout from "@/layout/Layout.astro";
import { marked } from "marked";

const response = await fetch(`${apiUrl}/api/notebook/har_clustering.md`);

const markdown = await response.text();
const content = marked.parse(markdown);
---

<Layout
  title="Notebook"
  description="Notebook del modelo clustering de archivos HAR"
>
  <Section class="prose prose-invert py-8">
    <Fragment set:html={content} />
  </Section>
</Layout>
