---
import { HeaderNavigationMenu } from "@/components/molecules/header-navigation-menu";
import { headerLinks } from "@/components/organisms/data/_header-data";
import { sectionClasses } from "@/components/organisms/styles/section-styles";

// Context
const url = Astro.url.pathname;
---

<div
  class="h-header-h fixed top-0 left-0 z-50 w-full bg-slate-900/75 backdrop-blur-lg"
  transition:persist="header"
>
  <header class:list={[sectionClasses, "flex h-full justify-center"]}>
    <HeaderNavigationMenu url={url} headerLinks={headerLinks} client:load />
  </header>
</div>
